<h1>Change Bunny</h1>

currently current:
<p>Name: {{ current_bunny.name }}</p>
<p>HP: {{ current_bunny.hp }}</p>
<p>Level: {{ current_bunny.level }}</p>
<p>Intelligence: {{ current_bunny.intell }}</p>
<p>Defense: {{ current_bunny.defense }}</p>
<p>Strength: {{ current_bunny.strength }}</p>
<p>Speed: {{ current_bunny.speed }}</p>
<p>Color: {{ current_bunny.color }}</p>
<p>Experience: {{ current_bunny.experience }}</p>
<p>Owner: {{ current_bunny.owner }}</p>
<p>Training Days: {{ current_bunny.t_days }}</p>

<form method="post">
    {% csrf_token %}
    <label for="bunny">Select a new active bunny:</label>
    <select name="bunny" id="bunny">
        {% for bunny in bunnies %}
            <option value="{{ bunny.id }}">{{ bunny.name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Change Active Bunny</button>
</form>
<a href='/home'>return</a>
